.topComponent{
    background-color: #4a88dc;
    background-image:
        linear-gradient(to right, #5591df 1px, transparent 1px),
        linear-gradient(to bottom, #5591df 1px, transparent 1px);
    background-size: 9px 9px;
    background-position: 0 0, 0 0;
    padding-left: 20px;
    padding-top: 25px;
    display: flex;
    gap:80px;
    /* width: 800px; */
    height: 140px;
    
    }
    
    .image-uploader{
        background-color: white;
        padding: 8px;
        position: relative;
        top:15px;
        transition: all .5s ease;
    
    }
    .image-uploader:hover{
        scale:1.05;
          cursor: pointer;
    }
    .topComponentDetails{
        display: flex;
        flex-direction: column;
        gap:10px;
        position: relative;
        top:10px
    
    }
    
    .topComponentDetails>span:nth-child(1){
        font-size: 24px;
        font-weight: 700;
        color: white;
    }
    .topComponentDetails>span:nth-child(2){
        font-size: 12px;
        font-weight: 500;
        color: white;
    }
    .topComponentDetails>div{
        display: flex;
        gap:20px
        ;
        align-items: center;
    }
    .topComponentDetails>div>button{
    border: none;
    padding:8px 20px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    }
    .topComponentDetails>div>button:nth-child(1){
    background-color: #e6e9ed;
    }
    .topComponentDetails>div>button:nth-child(2){
    background-color: #37bc9b;
    color: white;
    }